.g{
    height: 430px;
    width: 100%;
    margin-top: 15px;
   
   }
    
.be{background-color: rgb(157, 202, 157);
height: 30pxa;

}
.card-group{ margin-top: 15px;
}
.card-img{ width: 30px;
height: 60px;
}
.m{margin: 30px;
}

.image-bougeante {
    transition: transform 0.2s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    filter: saturate(150%);
    transition: transform 0.3s ease;
    border-radius: 3px;
    opacity: 1; /* Opacité normale de l'image */
   transition: opacity 0.3s ease-in-out; /* Ajout d'une transition pour un effet de fondu */
}
 
 
 .effet-image:hover {
    opacity: 0.5; /* Opacité réduite de l'image lorsque la souris survole l'image */
    transform: translate(5px, 5px);
    transform: scale(1.1);
 }
 
 