
<div class="cart-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a  (click)="filter('')">
        <h5>All PRODUCTS</h5>
      </a>
    </div>
    <div class="item">
      <a  (click)="filter('corps')">
        <h5>CORPS</h5>
      </a>
    </div>
    <div class="item">
      <a  (click)="filter('cheveux')">
        <h5>CHEVEUX</h5>
      </a>
    </div>
    <div class="item">
      <a  (click)="filter('Beauté')">
        <h5>BEAUTE</h5>
      </a>
    </div>
    <div class="item">
      <a  (click)="filter('Parfums')">
        <h5>PARFUMS</h5>
      </a>
    </div>
    <div class="item">
      <a  (click)="filter('Bébé et Enfants')">
        <h5>BEBE ET ENFANT</h5>
      </a>
    </div>
    <div class="item">
      <a  (click)="filter('Homme')">
        <h5>HOMME</h5>
      </a>
    </div>
  </div>
</div>
<br>
<div class="container  star">
  <div class="row">
    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'nom'">
      <div class="card col-md-3">
        <img [src]="item.img" [alt]="item.nom">
        <h4 class="item-card">{{item.nom}}</h4>
        <p class="item-card">{{item.descriptions}}</p>
        <p> <span class="fw-bold">Price : </span>{{item.prix}}FCFA</p>
        <button class="btn btn-primary" (click)="addtocart(item)">Ajouter Au panier</button>
      </div>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>