<!-- <nav class="navbar navbar-expand-lg bg-light ">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <i class="fa-solid fa-envelope  fa"></i><p>sdiarrassouba194@gmail.com</p> <i class="fa-solid fa-mobile fa"></i><p>+225 0759898060</p>
    </div>
    <div>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>
</nav> -->
<header class="">
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <img  class="para" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1yNAx6bQ4EIATpVyRpjhSKfyjVunjClXrmTu05E_r&s"  alt="">
      <span class="phar">PHARMASHOP</span>
      <form class="d-flex" role="search">
        <input class="form-control m"   type="search" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="chercher un produit" aria-label="Search" style="height: 60px;">
      </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="products">Parapharmacie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="register"><i class="fa-solid fa-circle-user"></i>Mon compte</a>
        </li>
      </ul>
      <button routerLink="cart" class="btn btn-primary ct">
       mon panier <i class="las la-cart-plus icon"></i>
        <div class="badge bg-danger">{{totalItem}}</div>
      </button>
    </div>
  </div>
</nav>
</header>